.App {
  text-align: center;
  padding: 30px;
  background-color: bisque;
  min-height:96vh;
}

.gifs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.searchArea {
  display: flex;
  justify-content: center;
}

.btn {
  margin-left: 10px
}

.containerGifs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: white 10px solid;
  padding: 50px;
  margin-top: 20px
}